:root {
    --black-700: #383838;
    --black-800: #1e1e1e;
   
    --white-100: #fefefe;
    --white-200: #e6e6e6;

    --blue-400: #95b5c0;
    --blue-600: #6492a3;
}

body {
    background-color: car(--white-100);
    margin:0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Rajdhani', sans-serif;
}

p, strong, span {
    font-family: 'Roboto', sans-serif;
}

body #root {
    width: 100%;
    height: 100%;
}